.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: clamp(10px, 2vw, 18px) clamp(20px, 4vw, 36px);
    background-color: rgb(188, 82, 21);
    color: rgb(16, 15, 15);
    font-family: "Stack Sans Headline", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size: clamp(14px, 2.5vw, 20px);
    /* font-weight: bold; */
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.2s ease-in-out, color 0.3s 0.2s ease-in-out;
}

.button:hover {
    background-color: rgb(218, 112, 44);
    color: rgb(16, 15, 15);
    transform: scale(1.1) rotate(-5deg);
}