.idea {
    padding-top: 1rem;
    padding-left: 1em;
}

p.idea-text {
    font-size: large;
    padding-bottom: 2rem;
}

p.idea-text-two {
    font-size: large;
    padding-bottom: 1rem;
}

h2 {
    font-size: x-large;
    font-weight: normal;
    color: rgb(218, 112, 44);
}