
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Stack Sans Headline", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}

h1 {
  font-size: clamp(36px, 5vw, 72px);
  color: rgb(188, 82, 21);
  font-weight: 400;
  letter-spacing: -2px;
}
